.product-card {
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    display: flex;
    margin: 50px;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: column;
    cursor: pointer;
}